{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Staff
{% endblock %}

{% block content %}
    <h3>Our Staff</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Employee Number</th>
                    <th scope="col">Academic Qualification</th>
                </tr>
                </thead>
                {% for person in personnel %}
                    <tr>
                        <td>{{ person.first_name }}</td>
                        <td>{{ person.last_name }}</td>
                        <td>{{ person.employee_number }}</td>
                        <td>{{ person.academic_qualification }}</td>
                    </tr>
                {% endfor %}
            </table>
{% endblock %}